:root{
    --azul-escuro: #27408B;
    --azul-claro: #4876FF;
    --cinza-azulado: #36648B;
    --cinza-azulado-claro: #eef4fd;
    --cinza-texto: #444444;
    --cinza-texto-escuro: #222222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}



h2{
    font-size: 2.5rem;
    color: var(--azul-escuro);
    font-family: 'Noto Sans', sans-serif;
}

h3{
    font-size: 2rem;
    color: var(--azul-claro);
    font-family: 'Noto Sans', sans-serif;
}

h3{
    font-size: 1.8rem;
    color: var(--cinza-azulado);
    font-family: 'Noto Sans', sans-serif;
}

h4{
    font-size: 1.6rem;
    font-family: 'Noto Sans', sans-serif;
    color: var(--cinza-texto-escuro);
}


a{
    font-size: 1.4rem;

    color: var(--azul-claro);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline !important;
}

p{
    font-size: 1.2rem;
    color: var(--cinza-texto);
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    overflow: hidden;
    width: 100%;
    background-color: #FFF;
}

header li{
    display: inline-block;
    margin: 0 8px;
}

header li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--azul-claro)
}

header li a:hover{
    text-decoration: underline;
    color: var(--azul-escuro)
}

#area_banner img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

section{
    margin: 16px 0;
}

#area_graduacao, #area_pos{
    margin: 8px;
}

.painel_cards{
    display: flex;
    justify-content: space-between;
    margin: 16px 8px;
}

.card_curso{
    text-align: center;
    background-color: var(--cinza-azulado-claro);
    width: 23%;
    padding: 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card_curso img{
    border-radius: 5px;
    margin: 8px 0;
}

.descricao{
    text-align: left;
    margin: 8px 0;
}

footer{
    background-color: var(--azul-claro);
}

footer p{
    color: var(--cinza-azulado-claro);
    font-size: 1rem;
    text-align: center;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape_mapa{
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
}

.rodape_mapa ul{
    list-style-type: none;
}

.rodape_mapa a{
    color: var(--cinza-azulado-claro);
    font-size: 1rem;
    text-decoration: none;
}

.rodape_mapa img{
    margin: 8px;
}


#area_login_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    margin-bottom: 0;

}

#area_login_container form{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px;
    border-radius: 10px;
}

#area_login_container form h2{
  margin-bottom: 48px;
}

 #area_login_container label{
    font-size: 1.2rem;
    color: var(--azul-escuro);
    font-weight: 500;
}


#area_login_container input{
    font-size: 1.2rem;
    margin-bottom: 16px;
    border-radius: 5px;
    height: 2.5rem;
    padding-left: 4px;
    border-color: var(--azul-escuro);
    color: var(--cinza-texto-escuro);
}


#area_login_container input::placeholder{
    color: var(--azul-claro);
}

#area_login_container button
{
    font-size: 1.2rem;
    width: 50%;
    margin: 24px auto;
    background-color: var(--azul-escuro);
    color: var(--cinza-azulado-claro);
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    height: 3rem;
}